<html>
<body>
<%- include('partials/nav.ejs') -%>
<h1>Success</h1>
<p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
<p>we will reply to you at <%= data.email %></p>
</body>
</html>
